In [2]:
# - Import Packages
import pandas as pd
import sqlite3 
import plotly

In [3]:
# - Import Data into Database
db = sqlite3.connect("MotorcycleData.db")
df = pd.read_csv('MotorcycleData.csv', encoding='cp1252')
df.to_sql("Sales", db, if_exists="replace")

C:\Users\mtwal\Anaconda3\lib\site-packages\pandas\core\generic.py:2712: UserWarning:

The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.

In [4]:
# - Display Rough Data
def make_query(query): 
    return pd.read_sql_query(query,db)

query = """
SELECT * 
FROM Sales;
"""
make_query(query)

,index,Unnamed: 0,Condition,Condition_Desc,Price,Location,Model_Year,Mileage,Exterior_Color,Make,...,Vehicle_Title,OBO,Feedback_Perc,Watch_Count,N_Reviews,Seller_Status,Vehicle_Tile,Auction,Buy_Now,Bid_Count
0,0,0,Used,mint!!! very low miles,"$11,412","McHenry, Illinois, United States",2013.0,"16,000",Black,Harley-Davidson,...,None,0,8.1,None,2427,Private Seller,Clear,1,0,28.0
1,1,1,Used,Perfect condition,"$17,200","Fort Recovery, Ohio, United States",2016.0,60,Black,Harley-Davidson,...,None,0,100,17,657,Private Seller,Clear,1,1,0.0
2,2,2,Used,None,"$3,872","Chicago, Illinois, United States",1970.0,"25,763",Silver/Blue,BMW,...,None,0,100,None,136,None,Clear,1,0,26.0
3,3,3,Used,CLEAN TITLE READY TO RIDE HOME,"$6,575","Green Bay, Wisconsin, United States",2009.0,"33,142",Red,Harley-Davidson,...,None,0,100,None,2920,Dealer,Clear,1,0,11.0
4,4,4,Used,None,"$10,000","West Bend, Wisconsin, United States",2012.0,"17,800",Blue,Harley-Davidson,...,None,0,100,13,271,OWNER,Clear,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7488,7488,7488,Used,None,"$3,900","Raymond, New Hampshire, United States",2004.0,"23,681",Black,Harley-Davidson,...,None,1,4.7,None,12409,Dealer,Salvage,0,0,NaN
7489,7489,7489,Used,None,"$8,900","Raymond, New Hampshire, United States",2013.0,"5,821",Black,Suzuki,...,None,1,4.7,None,12409,Dealer,Salvage,0,0,NaN
7490,7490,7490,Used,None,"$7,800","Raymond, New Hampshire, United States",2011.0,"48,616",Red,BMW,...,None,1,4.7,None,12409,Dealer,Salvage,0,0,NaN
7491,7491,7491,Used,None,"$7,900","Raymond, New Hampshire, United States",2014.0,"6,185",TWO TONE,Yamaha,...,None,1,4.7,None,12409,Dealer,Salvage,0,0,NaN
7492,7492,7492,Used,None,"$12,970","Scott City, Missouri, United States",2016.0,448,Gray,Harley-Davidson,...,None,0,100,None,4,Dealer,Clear,0,0,NaN

In [5]:
# - Display Cleaned Data
query = """
SELECT Condition, Price, Model_Year AS "Year", Exterior_Color AS "Color", Make 
FROM Sales;
"""
make_query(query)

     Condition     Price    Year        Color             Make
0         Used  $11,412   2013.0        Black  Harley-Davidson
1         Used  $17,200   2016.0        Black  Harley-Davidson
2         Used   $3,872   1970.0  Silver/Blue              BMW
3         Used   $6,575   2009.0          Red  Harley-Davidson
4         Used  $10,000   2012.0         Blue  Harley-Davidson
...        ...       ...     ...          ...              ...
7488      Used   $3,900   2004.0        Black  Harley-Davidson
7489      Used   $8,900   2013.0        Black           Suzuki
7490      Used   $7,800   2011.0          Red              BMW
7491      Used   $7,900   2014.0     TWO TONE           Yamaha
7492      Used  $12,970   2016.0         Gray  Harley-Davidson

[7493 rows x 5 columns]

In [21]:
# - Basic Data Manipulation - Total Sales
query = """
SELECT '$' || SUM(CAST(REPLACE(REPLACE(Price, '$',''), ',','') AS int)) AS "Total Sales"
FROM Sales;
"""
make_query(query)

  Total Sales
0   $74696305

In [26]:
# - Basic Data Manipulation - Average Sales
query = """
SELECT '$' || ROUND(AVG(CAST(REPLACE(REPLACE(Price, '$',''), ',','') AS int)), 2) AS "Average Price"
FROM Sales;
"""
make_query(query)

  Average Price
0      $9968.81

In [31]:
# - Basic Data Manipulation - Number of Sales by Make 
query = """
SELECT COUNT(Price), Make 
FROM Sales
GROUP BY Make;
"""
make_query(query)

    COUNT(Price)                           Make
0              4                           None
1              1  *Harley-Davidson* Martin Bros
2              1                      ADVANTAGE
3              8        American Classic Motors
4              2             American IronHorse
5             12             American Ironhorse
6             31                        Aprilia
7              5                           BETA
8            404                            BMW
9             11                            BSA
10             3                        Benelli
11             1              Big Bear Choppers
12            29                        Big Dog
13             5                         Bimota
14             1                 Bmw Motorcycle
15             4                      Boss Hoss
16            12                        Bourget
17            26                          Buell
18             3                        Bultaco
19             1                         CR500R
20            26                       Campagna
21           112                         Can-Am
22             3                        Can-Am®
23            12                        Cushman
24             1                         Custom
25           148       Custom Built Motorcycles
26           225                         Ducati
27             1                           Ford
28             1                            GMC
29          2955                Harley-Davidson
30            14               Harley-Davidson®
31           821                          Honda
32            57                         Honda®
33            13                      Husqvarna
34             4                        Hyosung
35           182                         Indian
36             1             Indian Motorcycle®
37            64                            KTM
38           514                       Kawasaki
39             1                          Kymco
40            22                      MV Agusta
41            36                     Moto Guzzi
42             6                         Norton
43             2                          Other
44           204                    Other Makes
45             1                        POLARIS
46             2                        Piaggio
47             1                        Polaris
48             1             Polaris Slingshot®
49             4                       Polaris®
50            13                  Royal Enfield
51            17                      Slingshot
52           452                         Suzuki
53             1                Swift Motor Co.
54           292                        Triumph
55             1                       Ultimate
56            50                           Ural
57           103                        Victory
58             1                      Wild West
59           565                         Yamaha

In [33]:
# - Basic Data Manipulation - Total Sales By Make
query = """
SELECT '$' || SUM(CAST(REPLACE(REPLACE(Price, '$',''), ',','') AS int)) AS "Total Sales by Make", Make
FROM Sales
GROUP BY Make
"""
make_query(query)

   Total Sales by Make                           Make
0               $80495                           None
1               $37000  *Harley-Davidson* Martin Bros
2               $42500                      ADVANTAGE
3               $47460        American Classic Motors
4               $16486             American IronHorse
5              $111693             American Ironhorse
6              $222716                        Aprilia
7               $35747                           BETA
8             $4150423                            BMW
9               $36945                            BSA
10              $14265                        Benelli
11              $22970              Big Bear Choppers
12             $384633                        Big Dog
13              $40625                         Bimota
14               $7388                 Bmw Motorcycle
15             $156599                      Boss Hoss
16             $153316                        Bourget
17             $119476                          Buell
18              $10849                        Bultaco
19               $7000                         CR500R
20            $1474586                       Campagna
21            $1927870                         Can-Am
22              $30997                        Can-Am®
23              $42926                        Cushman
24               $5995                         Custom
25            $1824625       Custom Built Motorcycles
26            $2623477                         Ducati
27               $2495                           Ford
28              $14995                            GMC
29           $35808262                Harley-Davidson
30             $185078               Harley-Davidson®
31            $5142813                          Honda
32             $355774                         Honda®
33              $42508                      Husqvarna
34              $11598                        Hyosung
35            $3307220                         Indian
36                $100             Indian Motorcycle®
37             $363043                            KTM
38            $2843765                       Kawasaki
39               $2799                          Kymco
40             $292087                      MV Agusta
41             $235469                     Moto Guzzi
42             $140900                         Norton
43              $33094                          Other
44            $2006533                    Other Makes
45              $16995                        POLARIS
46              $11980                        Piaggio
47              $16788                        Polaris
48               $9300             Polaris Slingshot®
49              $78296                       Polaris®
50              $76570                  Royal Enfield
51             $395385                      Slingshot
52            $2309076                         Suzuki
53                $100                Swift Motor Co.
54            $2560689                        Triumph
55               $7888                       Ultimate
56             $812444                           Ural
57             $931165                        Victory
58               $9950                      Wild West
59            $3042084                         Yamaha

In [40]:
# - Basic Data Manipulation - Average Sales By Make
query = """
SELECT '$' || ROUND(AVG(CAST(REPLACE(REPLACE(Price, '$',''), ',','') AS int)), 2) AS "Average Price by Make", Make
FROM Sales
GROUP BY Make
"""
make_query(query)

   Average Price by Make                           Make
0              $20123.75                           None
1               $37000.0  *Harley-Davidson* Martin Bros
2               $42500.0                      ADVANTAGE
3                $5932.5        American Classic Motors
4                $8243.0             American IronHorse
5               $9307.75             American Ironhorse
6               $7184.39                        Aprilia
7                $7149.4                           BETA
8              $10273.32                            BMW
9               $3358.64                            BSA
10               $4755.0                        Benelli
11              $22970.0              Big Bear Choppers
12             $13263.21                        Big Dog
13               $8125.0                         Bimota
14               $7388.0                 Bmw Motorcycle
15             $39149.75                      Boss Hoss
16             $12776.33                        Bourget
17              $4595.23                          Buell
18              $3616.33                        Bultaco
19               $7000.0                         CR500R
20             $56714.85                       Campagna
21             $17213.13                         Can-Am
22             $10332.33                        Can-Am®
23              $3577.17                        Cushman
24               $5995.0                         Custom
25             $12328.55       Custom Built Motorcycles
26              $11659.9                         Ducati
27               $2495.0                           Ford
28              $14995.0                            GMC
29             $12117.86                Harley-Davidson
30             $13219.86               Harley-Davidson®
31              $6264.08                          Honda
32              $6241.65                         Honda®
33              $3269.85                      Husqvarna
34               $2899.5                        Hyosung
35             $18171.54                         Indian
36                $100.0             Indian Motorcycle®
37              $5672.55                            KTM
38              $5532.62                       Kawasaki
39               $2799.0                          Kymco
40             $13276.68                      MV Agusta
41              $6540.81                     Moto Guzzi
42             $23483.33                         Norton
43              $16547.0                          Other
44              $9835.95                    Other Makes
45              $16995.0                        POLARIS
46               $5990.0                        Piaggio
47              $16788.0                        Polaris
48               $9300.0             Polaris Slingshot®
49              $19574.0                       Polaris®
50               $5890.0                  Royal Enfield
51             $23257.94                      Slingshot
52              $5108.58                         Suzuki
53                $100.0                Swift Motor Co.
54              $8769.48                        Triumph
55               $7888.0                       Ultimate
56             $16248.88                           Ural
57              $9040.44                        Victory
58               $9950.0                      Wild West
59              $5384.22                         Yamaha