In [2]:
# - Import Packages
import pandas as pd
import sqlite3 
import plotly

In [3]:
# - Import Data into Database
db = sqlite3.connect("MotorcycleData.db")
df = pd.read_csv('MotorcycleData.csv', encoding='cp1252')
df.to_sql("Sales", db, if_exists="replace")

C:\Users\mtwal\Anaconda3\lib\site-packages\pandas\core\generic.py:2712: UserWarning:

The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.

In [4]:
# - Display Rough Data
def make_query(query): 
    return pd.read_sql_query(query,db)

query = """
SELECT * 
FROM Sales;
"""
make_query(query)

,index,Unnamed: 0,Condition,Condition_Desc,Price,Location,Model_Year,Mileage,Exterior_Color,Make,...,Vehicle_Title,OBO,Feedback_Perc,Watch_Count,N_Reviews,Seller_Status,Vehicle_Tile,Auction,Buy_Now,Bid_Count
0,0,0,Used,mint!!! very low miles,"$11,412","McHenry, Illinois, United States",2013.0,"16,000",Black,Harley-Davidson,...,None,0,8.1,None,2427,Private Seller,Clear,1,0,28.0
1,1,1,Used,Perfect condition,"$17,200","Fort Recovery, Ohio, United States",2016.0,60,Black,Harley-Davidson,...,None,0,100,17,657,Private Seller,Clear,1,1,0.0
2,2,2,Used,None,"$3,872","Chicago, Illinois, United States",1970.0,"25,763",Silver/Blue,BMW,...,None,0,100,None,136,None,Clear,1,0,26.0
3,3,3,Used,CLEAN TITLE READY TO RIDE HOME,"$6,575","Green Bay, Wisconsin, United States",2009.0,"33,142",Red,Harley-Davidson,...,None,0,100,None,2920,Dealer,Clear,1,0,11.0
4,4,4,Used,None,"$10,000","West Bend, Wisconsin, United States",2012.0,"17,800",Blue,Harley-Davidson,...,None,0,100,13,271,OWNER,Clear,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7488,7488,7488,Used,None,"$3,900","Raymond, New Hampshire, United States",2004.0,"23,681",Black,Harley-Davidson,...,None,1,4.7,None,12409,Dealer,Salvage,0,0,NaN
7489,7489,7489,Used,None,"$8,900","Raymond, New Hampshire, United States",2013.0,"5,821",Black,Suzuki,...,None,1,4.7,None,12409,Dealer,Salvage,0,0,NaN
7490,7490,7490,Used,None,"$7,800","Raymond, New Hampshire, United States",2011.0,"48,616",Red,BMW,...,None,1,4.7,None,12409,Dealer,Salvage,0,0,NaN
7491,7491,7491,Used,None,"$7,900","Raymond, New Hampshire, United States",2014.0,"6,185",TWO TONE,Yamaha,...,None,1,4.7,None,12409,Dealer,Salvage,0,0,NaN
7492,7492,7492,Used,None,"$12,970","Scott City, Missouri, United States",2016.0,448,Gray,Harley-Davidson,...,None,0,100,None,4,Dealer,Clear,0,0,NaN

In [5]:
# - Display Cleaned Data
query = """
SELECT Condition, Price, Model_Year AS "Year", Exterior_Color AS "Color", Make 
FROM Sales;
"""
make_query(query)

     Condition     Price    Year        Color             Make
0         Used  $11,412   2013.0        Black  Harley-Davidson
1         Used  $17,200   2016.0        Black  Harley-Davidson
2         Used   $3,872   1970.0  Silver/Blue              BMW
3         Used   $6,575   2009.0          Red  Harley-Davidson
4         Used  $10,000   2012.0         Blue  Harley-Davidson
...        ...       ...     ...          ...              ...
7488      Used   $3,900   2004.0        Black  Harley-Davidson
7489      Used   $8,900   2013.0        Black           Suzuki
7490      Used   $7,800   2011.0          Red              BMW
7491      Used   $7,900   2014.0     TWO TONE           Yamaha
7492      Used  $12,970   2016.0         Gray  Harley-Davidson

[7493 rows x 5 columns]

In [21]:
# - Basic Data Manipulation - Total Sales
query = """
SELECT '$' || SUM(CAST(REPLACE(REPLACE(Price, '$',''), ',','') AS int)) AS "Total Sales"
FROM Sales;
"""
make_query(query)

  Total Sales
0   $74696305

In [26]:
# - Basic Data Manipulation - Average Sales
query = """
SELECT '$' || ROUND(AVG(CAST(REPLACE(REPLACE(Price, '$',''), ',','') AS int)), 2) AS "Average Price"
FROM Sales;
"""
make_query(query)

  Average Price
0      $9968.81

In [31]:
# - Basic Data Manipulation - Number of Sales by Make 
query = """
SELECT COUNT(Price), Make 
FROM Sales
GROUP BY Make;
"""
make_query(query)

    COUNT(Price)                           Make
0              4                           None
1              1  *Harley-Davidson* Martin Bros
2              1                      ADVANTAGE
3              8        American Classic Motors
4              2             American IronHorse
5             12             American Ironhorse
6             31                        Aprilia
7              5                           BETA
8            404                            BMW
9             11                            BSA
10             3                        Benelli
11             1              Big Bear Choppers
12            29                        Big Dog
13             5                         Bimota
14             1                 Bmw Motorcycle
15             4                      Boss Hoss
16            12                        Bourget
17            26                          Buell
18             3                        Bultaco
19             1                         CR500R
20            26                       Campagna
21           112                         Can-Am
22             3                        Can-Am®
23            12                        Cushman
24             1                         Custom
25           148       Custom Built Motorcycles
26           225                         Ducati
27             1                           Ford
28             1                            GMC
29          2955                Harley-Davidson
30            14               Harley-Davidson®
31           821                          Honda
32            57                         Honda®
33            13                      Husqvarna
34             4                        Hyosung
35           182                         Indian
36             1             Indian Motorcycle®
37            64                            KTM
38           514                       Kawasaki
39             1                          Kymco
40            22                      MV Agusta
41            36                     Moto Guzzi
42             6                         Norton
43             2                          Other
44           204                    Other Makes
45             1                        POLARIS
46             2                        Piaggio
47             1                        Polaris
48             1             Polaris Slingshot®
49             4                       Polaris®
50            13                  Royal Enfield
51            17                      Slingshot
52           452                         Suzuki
53             1                Swift Motor Co.
54           292                        Triumph
55             1                       Ultimate
56            50                           Ural
57           103                        Victory
58             1                      Wild West
59           565                         Yamaha